/*Body Color and font size for calculating Ems*/
body {
	background-color: #426993;
	font-size: 16px;
	font-family: 
}

/*Logo margin*/
header {
	margin: 55px 0 55px 0;
}

/*Nav color*/
nav {
	background-color: #3c3c3c;
	border-radius: 4px 4px 0 0;
}

/*Nav Button vertical text centering*/
.nav-button{
	/*padding: 15px 0 8px 0; /*This centers the text vertically for Century Gothic font*/
	padding: 15px 0 5px 0; /*This centers the text vertically for Questrial font*/
}

/*Nav font*/
.nav-button a {
	/*font-family: "Century Gothic", sans-serif;*/
	font-family: Questrial, sans-serif;
	font-size: 1.5em;
	color: #ffffff;
	text-align: center; /*This centers the text horizontally*/
	text-decoration: none;
}

/*Active: button background color change*/
nav .active-button{
	background-color: #e7e7e7;
}

/*Active: button background color change to the left corner button to maintain the curved corner*/
nav .active-button-corner{
	border-radius: 4px 0 0 0;
	background-color: #e7e7e7;
}

/*Active: button link color change*/
.active-button a{
	color: #3c3c3c;
}

/*Hover: Color nav buttons backgrounds*/
.bootstrap-button:hover{
	background-color: #7c7c7c;
}

/*Hover: Color the left corner nav button to maintain the curved corner*/
.bootstrap-button-corner:hover{
	background-color: #7c7c7c;
	border-radius: 4px 0 0 0;
}


/*Main page color*/
.content {
	/*background-color: #ffffff; /*White*/
	background-color: #e7e7e7; /*Light grey*/
	padding: 15px 25px 15px 25px;
}


/*RESUME PAGE ONLY - Begin*/
/*Video player - responsive*/
/*.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

/*Resume font settings*/
.resume p {

	font-size: 1em;
	width: 65%;
	margin: 0 auto 0 auto;

}

.resume p.title-font {
	font-family: Oswald, sans-serif;
	font-size: 1.3em;
}
/*RESUME PAGE ONLY - End*/


/*PORTFOLIO PAGE ONLY - Begin*/
.thumbnail-text {
	font-family: Questrial, sans-serif;
	font-size: 1.5em;
	color: #3c3c3c;
}

.portfolio-content{
	padding-top: 40px;
}

.portfolio-overlay{
	opacity: 0.5;
	background-color: #000000;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	position: fixed;
}

/*Video player - responsive*/
.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*PORTFOLIO PAGE ONLY - End*/